---
# <center> <b> TTL LAB 9: Pandas II in Python </b>

### Name: Ayush Priyam
### Roll: 20051933
### Date: 28th March 2023

---

0. Quit<br>
1. Write Quiz-1 & Quiz-2 Score into Attenance-202.xlsx file, in case of absent write ABS wrt to CSE17-T&T LAB (QUIZ) - SPRING 2023.XLSX <br>
Open Attenance-202.xlsx file manually to check whether correctly written or not.
2. Display the content of the file Attenance-202.xlsx <br>
3. Display the list of students absent at least in one quiz.<br>
4. Display the questions in order of difficult to easy in the following format<br>
    Q.No.     No. of Students 	   No. of Students            % of <br>
               Answered correctly     attempt incorrect          Incorrect

5. Display first 10 students quiz score based on Quiz Number as user input in descending order in the following format<br>
Sl. No.    Roll Number      Quiz-1 or Quiz-2 Score<br>
6. Display each students average score out of 20. Also write this score for each student in Attenance-202.xlsx  file

In [1]:
import pandas as pd
import  numpy as np

In [2]:
qr= pd.read_excel('A:\Downloads\QuizResponses.xlsx')
at= pd.read_excel('A:\Downloads\Attendance2023.xlsx', sheet_name='CSE17')
qa= pd.read_excel('A:\Downloads\QuizAnswers.xlsx')

CSE17
IT3

In [3]:
qr["Timestamp"]= qr['Timestamp'].astype('str')
qr["QuizNo"]=0

In [4]:
# for i in range(len(qr)):
#     x=qr.loc[i,'Timestamp']
#     if x.contains('2023-02-07'):
#         #qr["QuizNO"]=1
#         print(qr['Name'])
# #pdqr.loc[1,'Timestamp']

In [5]:
for i in range(len(qr)):
    x = pd.Series(qr.loc[i, 'Timestamp'])
    if x.str.contains('2023-02-07').bool():
        qr.loc[i, "QuizNo"]=1
        #print(qr.loc[i,'QuizNo'])
    else:
        qr.loc[i, "QuizNo"] = 2
        #print(qr.loc[i,'NAME'])
# pdqr.loc[1,'Timestamp']
qr[['Timestamp','QuizNo']]

                   Timestamp  QuizNo
0    2023-02-07 10:30:09.861       1
1    2023-02-07 10:35:18.932       1
2    2023-02-07 10:35:27.369       1
3    2023-02-07 10:35:32.242       1
4    2023-02-07 10:36:00.816       1
..                       ...     ...
146  2023-02-14 10:53:38.110       2
147  2023-02-14 10:53:54.535       2
148  2023-02-14 10:53:57.552       2
149  2023-02-14 10:53:59.175       2
150  2023-02-14 10:54:11.571       2

[151 rows x 2 columns]

In [6]:
at['QUIZ-1  (SCORE/ ABS)']=np.nan
at['QUIZ-2  (SCORE/ ABS)']=np.nan
for i in range(len(qr)):
    x=qr.loc[i,'QuizNo']
    roll= qr.loc[i, 'ROLL']
    marks= qr.loc[i, 'Score']
    #print(type(x),roll,marks)
    if x==1:
        at.loc[at['ROLL NO.']==roll, 'QUIZ-1  (SCORE/ ABS)']=marks
    else:
        at.loc[at['ROLL NO.']==roll, 'QUIZ-2  (SCORE/ ABS)']=marks

In [7]:
at.head()

,SL. NO.,ROLL NO.,FIRST NAME,LAST NAME,QUIZ-1 (SCORE/ ABS),QUIZ-2 (SCORE/ ABS)
0,1,2005017,ASHUTOSH,PATEL,14.0,18.0
1,2,2005065,UJJWAL,RAJ,14.0,18.0
2,3,2005108,MIR,ALI,12.0,18.0
3,4,2005128,SHASWAT,SARANGI,16.0,20.0
4,5,2005130,SHIDHARTH,MOHANTY,NaN,12.0

In [8]:
def addabs():
    at['QUIZ-1  (SCORE/ ABS)'] = at['QUIZ-1  (SCORE/ ABS)'].astype(str)
    at['QUIZ-2  (SCORE/ ABS)'] = at['QUIZ-2  (SCORE/ ABS)'].astype(str)
    at['QUIZ-1  (SCORE/ ABS)'].replace('nan', 'ABS', inplace=True)
    at['QUIZ-2  (SCORE/ ABS)'].replace('nan', 'ABS', inplace=True)
addabs()

In [9]:
#at.head(15)

In [10]:
def printabs(df):
    for i in range(len(df)):
        if df.loc[i,'QUIZ-1  (SCORE/ ABS)']=='ABS':
            print(df.loc[i,'FIRST NAME'], df.loc[i,'LAST NAME'])
        elif df.loc[i,'QUIZ-2  (SCORE/ ABS)']=='ABS':
            print(df.loc[i,'FIRST NAME'], df.loc[i,'LAST NAME'])

In [11]:
#printabs(at)

In [12]:
x = qr[qr['Score'] == 20][qr['Set No.'] == 2]
x.reset_index(drop=True, inplace=True)
z=np.array(x.loc[ :,'Q1':'Q10'].head(1))
z.shape
#print(z)
z= pd.DataFrame(z.reshape(-1,1))
qa['Answer2']=z

C:\Users\priya\AppData\Local\Temp\ipykernel_9092\264544057.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  x = qr[qr['Score'] == 20][qr['Set No.'] == 2]

In [13]:
qa.to_excel('A:\Downloads\QuizAnswers2.xlsx', index=False)

In [14]:
def incorrperc():
    t1 = []
    for j in range(1, 3):
        for i in range(10):
            n = qr[qr[qr["Set No."] == j] == qa.iloc[0+i, j]].iloc[:, 7+i].count()
            t1.append([j, i+1, n, 75-n, round(100*(75-n)/75, 2)])
    t2 = pd.DataFrame(t1, columns=[
                    'Set No.', 'Q. No', 'Correct Students', 'Incorrect Students', 'IncorrectPercentage'])
    return t2

In [15]:
def del_abs():
    at.replace('ABS', 0.0, inplace=True)
    at['QUIZ-1  (SCORE/ ABS)'] = at['QUIZ-1  (SCORE/ ABS)'].astype(float)
    at['QUIZ-2  (SCORE/ ABS)'] = at['QUIZ-2  (SCORE/ ABS)'].astype(float)
#del_abs()

In [16]:
def top10(qn):
    if qn==1:
        return at.sort_values(by='QUIZ-1  (SCORE/ ABS)', ascending=False).head(10).reset_index()
    if qn==2:
        return at.sort_values(by='QUIZ-2  (SCORE/ ABS)', ascending=False).head(10).reset_index()

In [17]:
#at[['QUIZ-1  (SCORE/ ABS)', 'QUIZ-2  (SCORE/ ABS)']]
at['Average']= at[['QUIZ-1  (SCORE/ ABS)', 'QUIZ-2  (SCORE/ ABS)']].mean(axis=1)
# at[['Average']]

C:\Users\priya\AppData\Local\Temp\ipykernel_9092\2592239019.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  at['Average']= at[['QUIZ-1  (SCORE/ ABS)', 'QUIZ-2  (SCORE/ ABS)']].mean(axis=1)

In [18]:
def addabs2():
    at['QUIZ-1  (SCORE/ ABS)'] = at['QUIZ-1  (SCORE/ ABS)'].astype(str)
    at['QUIZ-2  (SCORE/ ABS)'] = at['QUIZ-2  (SCORE/ ABS)'].astype(str)
    at['QUIZ-1  (SCORE/ ABS)'].replace('0.0', 'ABS', inplace=True)
    at['QUIZ-2  (SCORE/ ABS)'].replace('0.0', 'ABS', inplace=True)

In [19]:
#at.to_csv('A:\Downloads\Attendance32023.csv', index=False)

In [20]:
#MODIFY
while True:
    ch= int(input("Enter your choice:0 to quit "))
    if(ch==0):
        break
    if(ch==1):
        at.to_excel('A:\Downloads\Attendance22023.xlsx', sheet_name='CSE17')
    if(ch==2):
        print(at)
    if(ch==3):
        addabs()
        printabs(at)
    if(ch==4):
        del_abs()
        z= incorrperc()
        print(z)
    if(ch==5):
        del_abs()
        qn = int(input("Enter Quiz No"))
        at['Average'] = at[[
            'QUIZ-1  (SCORE/ ABS)', 'QUIZ-2  (SCORE/ ABS)']].mean(axis=1)
        z= top10(qn)
        print(z)
        addabs2()
        at.to_csv('A:\Downloads\Attendance32023.csv', index=False)

    SL. NO.  ROLL NO. FIRST NAME LAST NAME QUIZ-1  (SCORE/ ABS)  \
0         1   2005017   ASHUTOSH     PATEL                 14.0
1         2   2005065     UJJWAL       RAJ                 14.0
2         3   2005108        MIR       ALI                 12.0
3         4   2005128    SHASWAT   SARANGI                 16.0
4         5   2005130  SHIDHARTH   MOHANTY                  ABS
..      ...       ...        ...       ...                  ...
77       78  20051950      NAVYA    OBEROI                 18.0
78       79  20051951      ISHAN   PUROHIT                 10.0
79       80  20051985    DURGESH     PATEL                  6.0
80       81  20051994     CHIRAG   AGRAWAL                 10.0
81       82  21053046   SAYANTAN   GOSWAMI                  2.0

   QUIZ-2  (SCORE/ ABS)  Average
0                  18.0      NaN
1                  18.0      NaN
2                  18.0      NaN
3                  20.0      NaN
4                  12.0      NaN
..                  ...      ...
77                 16.0      NaN
78                 10.0      NaN
79                 16.0      NaN
80                 18.0      NaN
81                 10.0      NaN

[82 rows x 7 columns]

ValueError: invalid literal for int() with base 10: ''